@use "../../mixins.module.scss" as mixins;

.wrapper {
  @include mixins.centred;
  margin-top: 40px;
  margin-bottom: 30px;
  flex-direction: column;
  font-weight: 600;
  font-size: 1rem;
  h1 {
    @include mixins.noMargin;
  }
  p {
    @include mixins.noMargin;
    font-size: 0.8rem;
    font-weight: 300;
  }
}
