@use "../../mixins.module.scss" as mixins;
.wrapper {
  @include mixins.centred;
  flex-direction: column;
  // width: 852px;
  // height: 50px;
  // background-color: red;
}

.downloadButton {
  @include mixins.buttonEffects;
  color: white;
  font-weight: 600;
  width: 806px;
  height: 40px;
  border-radius: 500px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.optionsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 852px;
  height: 80px;
  margin-top: 8px;
  border-radius: 23px;
}

.optionItems {
  @include mixins.centred;
  @include mixins.buttonEffects;
  width: 27%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  p {
    color: white;
    font-weight: 600;
  }
}

// Progress Bar
.progressWrapper {
  width: 795px;
  height: 20px;
  border-radius: 5px;
  border: #0000007e solid 2px;
}

.progressBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  transition: width 0.3s ease;
  background-color: #56f051;
}
