@use "../../mixins.module.scss" as mixins;

.wrapper {
  @include mixins.centred;
  flex-direction: column;
  // width: 852px;
  // height: 50px;
  // background-color: red;
}

.downloadButton {
  color: white;
  background-color: #5c5ce0;
  font-weight: 600;
  width: 806px;
  height: 40px;
  border-radius: 500px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.optionsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 852px;
  height: 80px;
  margin-top: 8px;
  border-radius: 23px;
  // background-color: green;
  // border: gray solid 1px;
}

.optionItems {
  @include mixins.centred;
  width: 27%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #5c5ce0;

  p {
    color: white;
    font-weight: 600;
  }
  &:hover {
    cursor: pointer;
    border: #00e1ff7e solid 2px;
    transform: scale(1.1);
    background-color: #5353ca;
  }
  transition: background-color 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

// Progress Bar
$borderRadius: 5px;
.progressWrapper {
  width: 795px;
  height: 20px;
  border-radius: $borderRadius;
  // background-color: red;
  border: black solid 1px;
}

.progressBar {
  height: 100%;
  transition: width 0.3s ease;
  background-color: #96d294;
}
