.wrapper {
  display: flex;
  border-bottom: #eaeaea solid 1px;
  height: 80px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.logoWrapperNavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: purple;
  margin-right: 20px;
}

.mediaWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: rgb(0, 89, 255);
  width: 30%;
}
