@mixin centred {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin noMargin {
  margin: 0;
}
@mixin buttonEffects {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  background-color: #5c5ce0;
  &:hover {
    border: #1473e6 solid 2px;
    transform: scale(1.03);
    filter: brightness(105%);
  }
  &:active {
    filter: brightness(95%);
    transform: scale(0.97);
  }
}
