@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,700&display=swap");

.wrapper {
  display: flex;
  border-bottom: #eaeaea solid 1px;
  height: 80px;
  // height: 10%;
  width: 100%;
  justify-content: center;
  // background-color: #1473e6;
}

.logoWrapper {
  display: flex;
  align-items: center;
  // margin-right: 17%;
}

.logoWrapperNavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: purple;
  margin-right: 20px;
}

.navbarMenuWrapper {
  // background-color: aqua;
  display: flex;
  // width: 100%;
  // align-items: center;
}
.navBarItem {
  font-family: "Roboto", sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1rem;
  font-weight: 400;
  color: #484848;
  cursor: pointer;

  &:hover {
    transition: color 0.2s ease-in-out;
    color: #1473e6;
  }
}

.mediaWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: rgb(0, 89, 255);
  width: 30%;
}

.logoItem {
  margin-left: 5px;
  margin-right: 5px;
  height: 50%;
  width: 50%;
}

.socialMedia {
  display: flex;
}
