.uploadedVideoContainer {
  // background-color: red;
  width: 100%;
  height: 100%;
}

.uploadedVideo {
  display: flex;
  border-radius: 2%;
  // width: 100%;
  // height: 100%;
  width: 852px;
  height: 480px;
}
